.timer-countdown-container {
  width: 100%;
  height: 100%;
}

.timer-countdown-time {
  display:flex;
  justify-content:center;
  align-items:center;
  width: 100%;
  height: 80%;

  line-height: 100%;
  background-color: #172266;
  color: white;
  border-radius: 25px;

  font-size: 100px;
  font-weight: bold;
}

.timer-countdown-fault {
  display:flex;
  justify-content:center;
  //align-items:center;
  width: 100%;
  height: 20%;

  font-size: 40px;
  line-height: 40px;
  font-weight: bold;
}

.warning .timer-countdown-time {
  color: red;
}
