.time,
.fault {
  padding: 7px;
  background-color: #dbdbdb;
  font-weight: bold;
}

.time {
  border-radius: 17px;
  font-size: calc((75vw - 4.5rem) / 9);
}

.warning {
  color: red;
}

.fault {
  font-size: calc((75vw - 4.5rem) / 30);
}
