.player-a {
  display: flex;
  flex-direction: row-reverse;
}

.player-b {
  display: flex;
  flex-direction: row;
}

.player-container span {
  margin: 0 5px 0 5px;
}

.not-ready {
  color: red;
}

.not-ready .player-error {
  color: orange;
  font-weight: bold;
  font-size: larger;
}
