<mat-icon *ngIf="!matchId" class="home-link" routerLink="">home</mat-icon>

<div class="timer-container">
  <div class="timer-countdown">
    <app-timer-countdown [before]=before></app-timer-countdown>
  </div>
  <div class="timer-buttons">
    <button (click)="start()" [disabled]="alreadyBreak" color="primary" mat-raised-button>Casse</button>
    <button (click)="next()" [disabled]="!before || !alreadyBreak" color="primary" mat-raised-button>Suivant</button>
  </div>
  <div class="timer-buttons">
    <button (click)="extensionA()" [disabled]="!before || !alreadyPlayed || alreadyExtA" color="warn" mat-raised-button>Extension A</button>
    <button (click)="extensionB()" [disabled]="!before || !alreadyPlayed || alreadyExtB" color="warn" mat-raised-button>Extension B</button>
  </div>
  <div (click)="restart()" [class.disabled]="!before" class="timer-restart">
    <button (click)="restart()" [disabled]="!before" color="accent" mat-raised-button>Nouvelle Partie</button>
  </div>
</div>
