.home-link {
  cursor: pointer;
  float: left;
}

.timer-container {
  width: 100%;
  height: 95%;
}

.timer-countdown {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 55%;
}

.timer-countdown app-timer-countdown {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.timer-buttons,
.timer-restart {
  height: 15%;
  display: flex;
  flex-direction: row;
}

.timer-buttons button {
  width: 50%;
  margin: 10px;
}

.timer-restart button {
  width: 100%;
  margin: 10px;
}

.extension-a {
  background-color: yellow;
}

.extension-b {
  background-color: red;
  color: white;
}
