
/**
 * Style added for material
 */
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/**
 * Global style for the app
 */
.mat-icon {
  vertical-align: middle;
}

mat-card {
  margin: 7px;
}

mat-card-title {
  text-align: center;
}
