
/**
 * Style added for material
 */
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/**
 * Global style for the app
 */
.mat-icon {
  vertical-align: middle;
}

.menu-item {
  cursor: pointer;
  font-size: smaller;
  font-weight: lighter;
  background-color: #172266;
  border-radius: 10px;
  padding: 0 20px 0 20px;
  margin: 5px;
}

mat-card {
  margin: 7px;
}

mat-card-title {
  text-align: center;
}
