.match-container {
  margin: 5px;
}

.match-player-duplicated {
  font-weight: bold;
  border: 3px black dotted;
  border-radius: 5px;
}

.match-player-another-table {
  background-color: red;
}

.match-status-waiting {
  background-color: #E7EBF6;
}

.match-status-playing {
  color: white;
  background-color: #467DF7;
}

.match-status-finished {
  color: white;
  background-color: #172266;
}

.match-container-title {
  float: left;
  font-style: italic;
  font-size: smaller;
}

.match-container-status {
  text-align: right;
  font-size: smaller;
}

.match-container-title-fullscreen {
  float: left;
  width: 20%;
  font-size: larger;
}

.match-container-status-fullscreen {
  float: right;
  width: 20%;
  font-size: larger;
}

.match-container-content {
  display: flex;
  flex-direction: row;
}

.match-player {
  padding: 4px;
  width: 45%;
}

.match-player-a {
  text-align: right;
}

.match-player-b {
  text-align: left;
}

.match-score {
  padding: 4px;
  width: 5%;
  text-align: center;
}
