<div class="tournament-container">
  <div (click)="selectTournament(tournament)" *ngFor="let tournament of data?.tournaments" class="menu-item">{{tournament.name}}
    <mat-icon (click)="openTournament(tournament); $event.stopPropagation();">open_in_new</mat-icon>
    <mat-icon (click)="remove(tournament); $event.stopPropagation();">cancel</mat-icon>
  </div>
  <input #input matInput placeholder="Identifiant du tournoi" type="text" (keyup.enter)="addTournament(input.value); input.value=''"/>
  <mat-icon (click)="addTournament(input.value); input.value=''">add_circle</mat-icon>

</div>
