<mat-form-field class="example-chip-list" appearance="fill">
  <mat-chip-list #chipList aria-label="Fruit selection">
    <mat-chip *ngFor="let tournament of data?.tournaments" (removed)="remove(tournament)">
      {{tournament.name}}
      <button matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip>
    <input placeholder="Add tournament..."
           [matChipInputFor]="chipList"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           [matChipInputAddOnBlur]="addOnBlur"
           (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
</mat-form-field>
