<mat-card>
  <mat-card-content>
    <span [hidden]="tournament == undefined">
      <mat-slide-toggle (change)="refreshMatches()" color="primary" [(ngModel)]="displayBlanks">Walk Over</mat-slide-toggle>
      <mat-slide-toggle (change)="refreshMatches()" color="primary" [(ngModel)]="displayReady">Ready to launch</mat-slide-toggle>

    </span>

    <table mat-table [dataSource]="matches" class="mat-elevation-z8">

      <ng-container matColumnDef="table">
        <td mat-cell *matCellDef="let match">
          <span *ngIf="!match.tableNumWarning && (!tournament || match.status != 'finished' && match.tableNum)">Table {{match.tableNum}}</span>
          <span class="warning" *ngIf="match.tableNumWarning"><mat-icon>warning</mat-icon> {{match.tableNumWarning}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="tournament">
        <td mat-cell *matCellDef="let match">{{match.tournament}} - {{match.round}}</td>
      </ng-container>

      <ng-container matColumnDef="order">
        <td class="match-order" mat-cell *matCellDef="let match">{{match.order}}</td>
      </ng-container>

      <ng-container matColumnDef="playerA">
        <td mat-cell *matCellDef="let match">
          <app-player [hidden]="!match.playerA" [player]="match.playerA" [matchContext]="match"></app-player>
          <span [hidden]="match.playerA">{{match.playerAname}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="playerAscore">
        <td mat-cell *matCellDef="let match"> {{match.playerAscore}} </td>
      </ng-container>

      <ng-container matColumnDef="raceTo">
        <td mat-cell *matCellDef="let match">({{match.raceTo}})</td>
      </ng-container>

      <ng-container matColumnDef="playerBscore">
        <td mat-cell *matCellDef="let match"> {{match.playerBscore}} </td>
      </ng-container>

      <ng-container matColumnDef="playerB">
        <td mat-cell *matCellDef="let match">
          <app-player [hidden]="!match.playerB" [player]="match.playerB" [matchContext]="match"></app-player>
          <span [hidden]="match.playerB">{{match.playerBname}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="start">
        <td mat-cell *matCellDef="let match">
          <span *ngIf="match.startTime">{{match.startTime | date:'HH\'h\'mm'}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="end">
        <td mat-cell *matCellDef="let match">
          <span *ngIf="match.status == 'finished'">{{match.finishedTime | date:'HH\'h\'mm'}}</span>
          <span *ngIf="match.tableNum && match.status != 'finished' && !match.tableNumWarning"><mat-icon>nordic_walking</mat-icon></span>
        </td>
      </ng-container>

      <ng-container matColumnDef="minutes">
        <td mat-cell *matCellDef="let match">
          <span *ngIf="match.minutes" [class.warning]="match.minutes && match.minutes > 10*(match.raceTo*2-1)">
            <mat-icon *ngIf="match.minutes > 7*(match.raceTo*2-1)">timer</mat-icon>
            {{match.minutes}}'
          </span>
        </td>
      </ng-container>

      <tr class="match-status-{{match.status}}"
          [class.match-in-progress]="match.playerBscore>0"
          mat-row *matRowDef="let match; columns: displayedColumns;"></tr>

    </table>

  </mat-card-content>
</mat-card>
