<mat-toolbar color="primary">
  <div class="menu-item" (click)="updateData()">
    Last update : {{integrationData.value.date | date:'HH\'h\'mm' }}
    <mat-icon color="primary">refresh</mat-icon>
    Refresh
  </div>
  <div class="menu-item live" (click)="selectTournament(undefined)">LIVE</div>
  <div class="menu-item" *ngIf="!readonly" (click)="copySharedUrl();"><mat-icon>share</mat-icon></div>
  <!--  <div class="menu-item" *ngFor="let tournament of integrationData.value.tournaments" (click)="selectTournament(tournament)">{{tournament.name}}</div>-->
  <app-tournament *ngIf="!readonly" [data]="integrationData.value" (tournament)="selectTournament($event)" (launchIntegration)="updateData()"></app-tournament>
  <div class="menu-item" (click)="selectTournament(undefined)">LIVE</div>

  <div class="menu-item" routerLink="timer">TIMER</div>

</mat-toolbar>

<div class="content">
  <!--  <app-table [data]="integrationData.value"></app-table>-->
  <app-matches [data]="integrationData.value" [tournament]="tournament"></app-matches>
  <!--  <app-schedule [data]="integrationData.value"></app-schedule>-->
</div>
