.content {
  display: flex;
  flex-direction: row;
}

.menu-item {
  cursor: pointer;
  font-size: smaller;
  font-weight: lighter;
  background-color: #172266;
  border-radius: 10px;
  padding: 0 10px 0 10px;
  margin: 5px;
}

app-tournament {
  width: 100%;
}
app-table {
  width: 34%;
}

app-schedule {
  width: 66%;
}
