<mat-toolbar color="primary">
  <div class="refresh-container" (click)="updateData()">
    Last update : {{integrationData.value.date | date:'HH\'h\'mm' }}
    <mat-icon color="primary">refresh</mat-icon>
    Refresh
  </div>
  <app-tournament [data]="integrationData.value" (launchIntegration)="updateData()"></app-tournament>
</mat-toolbar>

<div class="content">
  <app-table [class.fullscreen]="tableFullscreen" [data]="integrationData.value" (displayFullScreen)="tableComponentFullScreen($event)"></app-table>
  <app-schedule [hidden]="tableFullscreen" [data]="integrationData.value"></app-schedule>
</div>

<router-outlet></router-outlet>
